.lst {
    max-width: 800px;
    margin-top: 50px;
    border-top: solid 2px grey;
}

.p {
    font-size: large;
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

.contact {
    list-style:none;
     /* justify-content: center; */

}

.iconsfa {
    height: 34px;
    width: 46px;
    margin: 10px;
    color: #4267B2;
    padding-top:10px;


}

.iconstw {
    height: 34px;
    width: 46px;
    margin: 10px;
    color: #1DA1F2;
    padding-top:10px;
    


}

.iconsin {
    height: 34px;
    width: 46px;
    margin:10px;
    padding-top:10px;

    color: #0e76a8;
}

.cons {
    text-decoration: none;
    color: purple;

}

.con {
    margin: 10px;
    float:left;
}