* {
    padding: 0;
    margin: 0;
}

.content {
    max-width: 580px;
    padding: 10px 20px 10px 20px;
    background-color: grey;
    overflow: hidden;
    white-space: nowrap
}




.content h1 {
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap
}

.image {
    margin-bottom: 80px;
    height: 380px;
    display: block;
    /* margin-left: 50px;
    margin-right: 50px; */
    width: 250;
    margin: auto;
}

.container {
    background-color: #FAFAFA;
    /* padding: 10px 20px 10px 20px; */
    text-align: center;
    line-height: 1.5;
    /* min-width: 480; */
    margin: auto;
    padding: 10px;
    max-width: 800px;

}